<!-- <table class='table'>
  <tr>
    <th>User</th>
    <th>Bio</th>
    <th>Followers</th>
    <th>Comments</th>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td>
        <%= u.name %>
      </td>
      <td>
        <%= u.bio %>
      </td>
      <td>
        <%= u.followers.count %>
      </td>
      <td>
        <%= Comment.where(user_id: u.id).count %>
      </td>
    </tr>
  <% end %>
</table> -->

<div class="outside">

<% @users.each do |u| %>

<div class="container">
  <header>
    <div class="bio">
      <img src="<%=u.picture%>"  alt="background" class="bg">
      <div class="desc">
        <h3> <%= u.name %>  </h3>
        <p> <%= u.bio %>  </p>
      </div>
    </div>

    <div class="avatarcontainer">
      <img src="<%=u.small_picture%>" alt="avatar" class="avatar">
      <div class="hover">
        <div class="icon-twitter"></div>
      </div>
    </div>

  </header>

  <div class="content">
    <div class="data">
      <ul>
        <li>
          <%= u.comments.count %>
          <span>Comments</span>
        </li>
        <li>
          <%= u.followers.count %>
          <span>Followers</span>
        </li>
        <li>
          <%= u.following.count %>
          <span>Following</span>
        </li>
      </ul>
    </div>

    <div class="follow">
      <div class="icon-twitter"></div>
      Follow</div>
  </div>

</div>

<% end %>

</div>
